
  <% @beers.each do |beer| %>
    <h2><%= beer.name %></h2>
    <p><%= beer.category %></p>
    <p><%= link_to edit_beer_path(beer) %></p>
    <p><%= link_to beer_path(beer), method: :delete, data: { confirm: 'Are you sure?' } %>
     <p><%= link_to "", beer_path(beer) %>
  <%end%>
