<!--

<h1><%= @beer.name %></h1>

<%= cl_image_tag @beer.photo, height: 300, width: 400, crop: :fill %>


<h3>Category:       <%= @beer.category %></h3>
<h4>Description:    <%= @beer.description %></h4>
<h4>Alcohol rate:   <%= @beer.alcohol %>%</h4>
<h4>Price:          <%= @beer.price %> EUR</h4>
<h4>In stock:       <%= @beer.stock %> unit(s)</h4>
<h4>Conditionning:  <%= @beer.conditionning %></h4>
<h4>Brewer: <%= link_to @beer.user.first_name, user_profile_path(@beer.user) %></h4>

<% if @beer.user == current_user %>
  <p><%= link_to 'Edit', edit_beer_path(@beer) %></p>
  <p><%= link_to 'Delete', beer_path(@beer), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
 -->



<div class="index-bar-beer">
  <h1 class="beer-name"><%= @beer.name %></h1>
</div>

<div class="container">
  <div class="row">
      <div class="beer-profile">
        <div class="beer-profile-picture">
        <%= cl_image_tag @beer.photo, height: 300, width: 200, crop: :fill || "http://placehold.it/100x100" %>
        </div>
        <p><span>Category: </span>      <%= @beer.category %></p>
        <p><span>Description: </span>   <%= @beer.description %></p>
        <p><span>Alcohol rate: </span>  <%= @beer.alcohol %>%</p>
        <p><span>Price:  </span>        <%= @beer.price %> EUR</p>
        <p><span>In stock: </span>      <%= @beer.stock %> unit(s) </p>
        <p><span>Conditionning: </span> <%= @beer.conditionning %> </p>
        <p><span>Brewer: </span><%= link_to @beer.user.first_name, user_profile_path(@beer.user) %> </p>
      <% if @beer.user == current_user %>
  <p><%= link_to 'Edit', edit_beer_path(@beer) %></p>
  <p><%= link_to 'Delete', beer_path(@beer), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
        <p><%= link_to 'Back to index', beers_path %></p>
      </div>
  </div>
</div>

<div class="beer-profile">
<% if @beer.stock > 0 %>
  <% if current_user.address %>
    <%= button_to "Add to Wishlist", beer_wishlists_path(@beer), class:"btn btn-wishlist" %>
  <% else %>
    <%= link_to new_beer_wishlist_path(@beer) do %>
      <p class="btn btn-wishlist"> Add to Wishlist </p>
    <% end %>
  <% end %>
<% else %>
  <p class="btn btn-sold-out">Sold out</p>
<% end %>
</div>



