

<h1>Beer info <%= @beer.name %></h1>

<%= cl_image_tag @beer.photo, height: 300, width: 400, crop: :fill %>

<h2>Beer category <%= @beer.category %></h2>
<h2>Beer price <%= @beer.price %> EUR</h2>
<h2>Beer stock <%= @beer.stock %>units</h2>
<h2>Beer description <%= @beer.description %></h2>
<h2>Beer alcohol <%= @beer.alcohol %></h2>
<h2>Beer cond <%= @beer.conditionning %> cl</h2>
<h2>Beer user <%= @beer.user_id %></h2>
<p><%= link_to 'Edit', edit_beer_path(@beer) %></p>
<p><%= link_to 'Delete', beer_path(@beer), method: :delete, data: { confirm: 'Are you sure?' } %>



<% if @beer.stock > 0 %>
<%= button_to "Add to Wishlist", beer_wishlists_path(@beer) %>
<% else %>
<p>Sold out</p>
<% end %>

